body {
    width: 620px;
    margin: auto;
    background-color: white;
    font-family: Arial, sans-serif;
    position: relative;
    padding-top: 10px; 
}

.judul {
    display: flex;
    align-items: center;
    background-color: yellow;
    width: 100%;
    justify-content: space-between;
}

.jerapah {
    width: 120px;   
    height: 120px;
}

.singa {
    width: 160px;
    height: 120px;
}

.title-banner {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.kiri {
    display: flex;
}

.pinggir {
    width: 120px;
    height: 600px;
    background: url('bg_sea.png') no-repeat;
    background-size: cover;
    padding: 2px;
}

.pinggir ul {
    list-style: none;
}

.pinggir li {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.isi {
    width: 500px;
    padding: 10px;
    font-size: 14px;
    text-align: justify;
    color : #4169E1;
}

.isi h2 {
    color: #4169E1;
    text-align: center;
}

.gajah {
    float: right;
    width: 220px; 
    text-align: center;
    margin-right: 15px;
}

.gajah img {
    width: 200px;
    height: 150px;
    display: block;
    margin-left: 20px;
}

.gajah p {
    background-color: #4169E1;
    color: black;
    font-size: 12px;
    margin-left: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 120px; 
    padding: 10px;
    background-color: #4169E1;
    color: black;
    font-size: 14px;
    text-align: right;
    width: 500px; 
}