.ukuran {
    width: 600px;
    height: 50px;
    background-color: red;
    margin: 0 auto 10px;
}

.isi {
    width: 600px;
    margin: 0 auto;
    overflow: hidden; 
}

.biru {
    width: 120px;
    height: 220px;
    background-color: blue;
    float: left;
    margin-right: 10px;
}

.hijau {
    width: 450px;
    background-color: green;
    padding: 10px;
    min-height: 270px;
    float: left;
    position: relative;
}

.kuning {
    width: 143px;
    height: 143px;
    background-color: yellow;
    position: absolute;
    top: 10px;
    right: 10px;
}

.teks {
    width: 100%;
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.text-indent {
    text-indent: 50px; 
}

.fix {
    content: "";
    display: table;
    clear: both;
}