<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

#box {
    border: 1px solid black;
    width: 235px;
    padding: 10px;
  }

#namaInput {
    width: 120px;
  }

.nama {
    margin: 1px;
  }

.garisbawah {
    text-decoration: underline;
=======
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

#box {
    border: 1px solid black;
    width: 235px;
    padding: 10px;
  }

#namaInput {
    width: 120px;
  }

.nama {
    margin: 1px;
  }

.garisbawah {
    text-decoration: underline;
>>>>>>> c6bda02b741e0b0871c72e71cc1d9f48af1ea5c4
  }