body {
    font-family: Arial, sans-serif;
    width: 800px;
    height: 600px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    font-size: 16px;
    padding: 5px;
    width: 80px;
}

button {
    display:block;
    padding: 5px 15px;
    margin-top: 5px;
    align-self: flex-start;
}

table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 55px;
    background-color: orange;
    border: 2px solid white;
}